body{
    background-color: rgb(20, 211, 211);
}

a:hover{ 
    font-size: large;
    color:rgb(17, 219, 51);

}
.section-contacts , ol>li> a{
    color: rgb(172, 106, 235);
}

.accent{ color: rgb(21, 153, 71); font-size: xx-large;}